{% extends 'main.html' %}

{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">


<style>
    main{
        height: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    label{
        margin: 0px 0px 20px 0px;
    }
    textarea{
        backdrop-filter: blur(15px);
    }
    input[type=submit]{
        margin: 20px 0px 0px 0px;
        backdrop-filter: blur(15px);
    }
    h3{
        font-size: 50px;
    }
    .a_fade_in{
        animation-duration: var(--ls_anim_duration_long);
    }
</style>

<background_image style="background-image: url( {% static 'Images/starscape_initial.webp' %} );"></background_image>

<main>
    <content_center>
        <h1>What To Do?</h1>
        <form action="{% url 'WhatToDo' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{{Button_Value}}">
        </form>    
    </content_center>
    <br>
    <br>
    <br>
    <content_center>
        {% if chosen != None %}
            <h2>Your Result Is:<h2>
            <h3 class="a_fade_in"><b>{{ chosen }}</b></h3>
        {% endif %}
    </content_center>
</main>

<script>
    Lightshard.functions.softLoad(document.querySelector("background_image"));
</script>
{% endblock content %}