{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
<style>
    iframe{
        width: 100%;
        height: 100vh;
        border: unset;
        outline: unset;
    }
</style>
<iframe src="https://gigabyte5671.github.io/projects-site/"></iframe>
{% endblock content %}