{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
<style>
    iframe{
        width: 100%;
        height: calc(100vh - var(--ls_nav_height));
        margin-top: var(--ls_nav_height);
        border: unset;
        outline: unset;
    }
</style>
<iframe src="{{ ifame_src }}"></iframe>
{% endblock content %}