<nav>
  {% load static %}
  <background></background>
  <site_logo><a href="/"><img src="{% static 'Images/siteLogo_white_24dp.svg' %}" draggable="false"><p>Wyvern</p></a></site_logo>
  <navlinks>
    <a href="/" class="active"><p>Home</p></a>
    <a href="{% url 'NettyHub' %}"><p>Netty</p></a>
    <a href="{% url 'GitZak' %}"><p>Zak</p></a>
    <a href="{% url 'ChemHub' %}"><p>ChemHub</p></a>
    <a href="{% url 'ToWay' %}"><p>Which Way</p></a>
    <a href="{% url 'HowToNotDie101' %}"><p>How To Not Die 101</p></a>
  </navlinks>
</nav>