{% url 'Invoice' as Invoice %}
{% url 'NettyHub' as NettyHub %}
{% url 'HomeHub' as HomeHub %}
{% url 'GitZak' as GitZak %}
{% url 'ChemHub' as ChemHub %}
{% url 'ToWay' as ToWay %}
{% url 'HowToNotDie101' as HowToNotDie101 %}
{% url 'CookieBook' as CookieBook %}
{% url 'Arcade' as Arcade %}
{% url 'WhatToDo' as WhatToDo %}
{% url 'Invoice' as Invoice %}
{% url 'Login' as Login %}
{% url 'Logout' as Logout %}
{% url 'SignUp' as SignUp %}
{% load static %}
<nav>
  <background style="pointer-events:none;"></background>
  <site_logo><a href="/"><img src="{% static 'Images/site_logo.png' %}" draggable="false"></a></site_logo>
  <navlinks>
    <a href="/" 
    {% if request.path == HomeHub  %}
        class="active"
    {% endif %}>
    <p>Home</p></a>

    {% if user.is_authenticated %}
      <a href="{% url 'Invoice' %}" 
      {% if Invoice in request.path %}
        class="active"
      {% endif %}>
      <p>Invoice</p></a>
    {% endif %}
    
    <!---
    <a href="{% url 'NettyHub' %}" 
    {% if NettyHub in request.path %}
      class="active"
    {% endif %}>
    <p>Netty</p></a>

    <a href="{% url 'GitZak' %}"
    {% if GitZak in request.path %}
      class="active"
    {% endif %}>
    <p>Giga</p></a>

    <a href="{% url 'ChemHub' %}" 
    {% if ChemHub in request.path %}
      class="active"
    {% endif %}>
    <p>ChemHub</p></a>
    --->
    <a href="{% url 'CookieBook' %}" 
    {% if CookieBook in request.path %}
      class="active"
    {% endif %}>
    <p>Cooke Book</p></a>

    <!---
    <a href="{% url 'ToWay' %}" 
    {% if ToWay in request.path  %}
      class="active"
    {% endif %}>
    <p>Which Way?</p></a>

    <a href="{% url 'HowToNotDie101' %}" 
    {% if HowToNotDie101 in request.path %}
      class="active"
    {% endif %}>
    <p>Hazards 101</p></a>
    --->
    <a href="{% url 'Arcade' %}" 
    {% if Arcade in request.path %}
      class="active"
    {% endif %}>
    <p>Arcade</p></a>

    <a href="{% url 'WhatToDo' %}" 
    {% if WhatToDo in request.path %}
      class="active"
    {% endif %}>
    <p>What To Do?</p></a>
  </navlinks>

  <div style="position:absolute;right:7px;">
    {% if user.is_authenticated %}
      <p> Hello {{ user.get_username }}</p>
      <a href="{% url 'Logout' %}">Log Out</a>
    {% else %}
      <a href="{% url 'Login' %}">Log In</a>
    {% endif %}
  </div>
</nav>