{% extends 'main.html' %}

{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">


<style>
    main{
        height: 100%;
    }
    .button {
        background-color: #0C6610;
        width: 100px;
        height: 30px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 5px;
        margin: 10px 50px;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.1s ease all;
        
    }
    .button:hover {
        opacity: 1.0;
        transform: scale(1.5);
        border-radius: 10px;

        
    }
    .cookingColour:hover {
        background-color: #0F92A2;
    }    
    .bakingColour:hover {
        background-color: #0F3CA2;
    }
</style>

<background_image style="background-image:url({% static 'Images/CookieHome_background.png' %});filter:blur(4px);"></background_image>

<main>
    <landing_center class="a_fade_in">
        <h1>Cooke Book</h1>
        <div>
            <a href="{% url 'Cooking' %}"  class="button cookingColour">Cooking</a>
            <a href="{% url 'Baking' %}"  class="button bakingColour">Baking</a>
        </div>

    </landing_center>
</main>
{% endblock content %}