{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
<script src="{% static 'js/vibrant.min.js' %}"></script>


<style>
    li{
        line-height: 2.2em;
    }
    article_inner{
        box-shadow: 0px 0px 5px black;
    }

</style>
<main>
    <article>

        <background_image style="background-image: url( {% static '' %}Images/{{recipe.background}} )"></background_image>
        <article_inner>
        <article_image style="background-image: url( {% static '' %}Images/{{recipe.background}} )"></article_image>
            <h1>{{ recipe.title }}</h1>
                {% for recipe_item in recipe.recipe %}
                    {{ recipe_item|safe }}
                {% endfor %} 
        </article_inner>
    </article>
</main>

<script>
    var img = document.createElement('img');
    img.setAttribute('src', "{% static '' %}Images/{{recipe.background}}")

    img.addEventListener('load', function(){
        var vibrant = new Vibrant(img);
        var swatches = vibrant.swatches()
        for(var swatch in swatches){
            if(swatches.hasOwnProperty(swatch) && swatches[swatch]){
                console.log(swatch, swatches[swatch].getHex());
            }
        }
        /*
        * Results into:
        * Vibrant
        * Muted
        * DarkVibrant
        * DarkMuted
        * LightVibrant
        */
       document.querySelector("article_inner").style.backgroundColor = swatches["Vibrant"].getHex();
    });
</script>
{% endblock content %}

