{% extends 'main.html' %}
{% load static %}
{% load split_newline %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
<script src="{% static 'js/vibrant.min.js' %}"></script>


<style>
    li{
        line-height: 2.2em;
    }
    article_inner{
        box-shadow: 0px 0px 5px black;
    }

</style>
<main>
    <article>
        <background_image style="background-image: url( {% static '' %}Images/Recipes/{{recipe.background}} )"></background_image>
        <article_inner>
            <article_image style="background-image: url( {% static '' %}Images/Recipes/{{recipe.background}} )"></article_image>      
            <h1>{{ recipe.title }}</h1>
            <h2>Ingredients:</h2>
            {% for ingred in recipe.ingredients|split_newline %}
                <li>{{ingred}}</li>
            {% endfor %}
            <h2>Cooking Time: {{recipe.cooking_time}}</h2>
            <h2>Directions:</h2>
            {% for dir in recipe.directions|split_newline %}
                <li>{{dir}}</li>
            {% endfor %}
        </article_inner>
    </article>
</main>




<script>
    var img = document.createElement('img');
    img.setAttribute('src', "{% static '' %}Images/Recipes/{{recipe.background}}")

    img.addEventListener('load', function(){
        var vibrant = new Vibrant(img);
        var swatches = vibrant.swatches()
        for(var swatch in swatches){
            if(swatches.hasOwnProperty(swatch) && swatches[swatch]){
                console.log(swatch, swatches[swatch].getHex());
            }
        }
        /*
        * Results into:
        * Vibrant
        * Muted
        * DarkVibrant
        * DarkMuted
        * LightVibrant
        */
       document.querySelector("article_inner").style.backgroundColor = swatches["Vibrant"].getHex();
    });
</script>
<script>
    Lightshard.functions.softLoad(document.querySelector("article background_image"));
    Lightshard.functions.softLoad(document.querySelector("article_image"));
</script>
{% endblock content %}

