{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">


<style>
    body{
        background: unset;
        background-color: black;
    }
    h1{
        padding: 60px 0px 0px 0px;
        text-align: center;
        font-size: 40px;
    }
    div{
        background-color:bisque;
        color:black;
        border-right-style: solid;
        border-left-style: solid;
        border-color: bisque;
        border-width: 25px;
    }


</style>
<div>
    <h1>{{ recipe.title }}</h1>
        {% for recipe_item in recipe.recipe %}
            {{ recipe_item|safe }}<br>
        {% endfor %} 
</div>
{% endblock content %}

