{% extends 'main.html' %}
{% url 'RecipePage' as page_type %}

{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">


<style>
    body{
        height: 100%;
        background-color: #0C3566;
    }
    card:hover{
        box-shadow: 0px 5px 10px -6px black;
    }
</style>

<main>
    <content_center>
        <grid_medium>
            {% for letter in alphabet %}   
                <card>
                    <div><p>{{letter}}</p></div>
                    <card_inner>
                        <info></info>
                        <div>
                        {% for recipe in recipes %} 
                            <a></a>
                            
                        
                        <p>This is here</p>
                        {% endfor %} 
                        </div>
                    </card_inner>
                </card>
            {% endfor %}      
        </grid_medium>
    </content_center>
</main>


{% endblock content %}