{% extends 'main.html' %}


{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">


<style>
    body{
        height: 100%;
        background-color: #0C3566;
    }
    grid_medium card{
        width: 220px;
        min-width: 220px;
    }
    card:hover{
        box-shadow: 0px 5px 10px -6px black;
    }
    card > div p{
        margin: -50px 0px 0px 0px;
        font-size: 150px;
        transition: var(--ls_anim_duration_short) ease all;
    }
    card:hover > div p{
        margin: -45px 0px 0px 0px;
        font-size: 132px;
    }
    card_inner{
        transition: var(--ls_anim_duration_short) ease all;
    }
    card:hover card_inner{
        height: 65%;
    }
</style>

<main>
    <content_center>
        <grid_medium>
            {% for letter in alphabet %}   
                <card>
                    <div><p>{{letter}}</p></div>
                    <card_inner>
                        <info></info>
                        <div>
                        {% for recipe in recipes %}
                            {% if recipe.first_letter == letter %} 
                                <a href="{{recipe.url}}/">{{recipe.title}}</a>
                                <br>
                            {% endif %}
                        {% endfor %} 
                        </div>
                    </card_inner>
                </card>
            {% endfor %}      
        </grid_medium>
    </content_center>
</main>


{% endblock content %}